<h1>Hallo krankes Kathilein, wie geht es dir</h1>
<h2>???</h2>
<h6>wenn du das lesen magst musst du schon näher kommen....</h6>
<h6>ich liebe dich trotz deiner husterei und ich hoffe, dass es dir bald besser gehen wird</h6>

<p>current time : <%= @curr_time %></p>> 
